body{
  font-family: "Helvetica";
  padding:0;
  margin: 0;
}
.wrapper{
  width: 100%;
  padding:0;
  margin:0;
  background: #26254a;
  color: white;
}
.container{
  height:100%;
  width:95%;
  margin:auto;
  background:#353369;
  display: flex;
  padding: 1.5%;
}
.splash{
  height: 75%; 
}
.header {
  background: #4b4a67;
}

.nav{
  box-shadow: 0 -20px 20px 20px #262633;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #6df16d;
  position: relative;
  height: auto;
  overflow: auto;
}

.nav ul li a {
  display: block;
  color: #353369;
  padding: 15px;
  text-decoration: none;
  float: left;
}
 
.nav ul li a.active {
  background-color: #353369;
  color: white;
}

.nav ul li a:hover:not(.active) {
  background-color: #353369;
  color: white;
}


.sidebar{
  width: 90%;
  background: #413e7d;
  margin: auto;
  border-radius: 3px;
  border: 1px solid #12222d;
}

.sidebar_container{
  width:25%;
}
.sidebar_header{
  background: #4b488c;
  text-align: center;
  padding: 0.5em;
}
.sidebar_content{
  padding:1em;
}
.body_container{
  border: 1px solid #12222d;
  background: #3c3a73;
  width:50%;
  padding:2%;
}
